@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  background-color: #746f6f;
}

@media (min-width: 479px) {
  h1 {
    position: relative;
    margin-top: 20px;
    margin-right: 370px;
  }

  h3 {
    position: relative;
    margin-top: 20px;
    margin-right: 3000;
  }

  .event {
    width: 10%; /* Adjust width for larger screens */
    max-width: 500px; /* Add max-width for larger screens */
    margin-top: 200px; /* Adjust margin top for larger screens */
  }

  .city {
    width: calc(100% - 40px); /* Take up full width with margin */
    margin-right: 100px; /* Remove right margin for smaller screens */
    margin-bottom: 20px; /* Add bottom margin for spacing */
  }

  .number-of-events-container {
    margin-right: 100px; /* Remove right margin for smaller screens */
  }
}

.search-and-events-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}

.city {
  background-color: transparent;
  width: 220px;
  margin-right: 20px;
}

#city-search {
  display: flex;
  flex-direction: column;
  position: relative;
}

.city-search-title {
  margin-right: 110px;
}

.see-all-cities-button {
  color: white;
}

#number-of-events {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: transparent;
}

.number-of-events-container {
  margin-right: 75px;
}

.number-of-events-title {
  margin-right: 20px;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #0a2592;
  background-color: #497fbb;
  color: black;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.suggestion-item:hover {
  background-color: #497fbb;
}

.suggestions {
  width: 120 px;
  position: absolute;
  top: 65px;
  right: 10px;
  z-index: 2;
  margin: 10px;
  font-size: 14px;
  background-color: #0a2592;
  border-radius: 8px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  color: white;
  padding: 10% 5%;
  background-color: #08228b;
  cursor: default;
  border-radius: 8px;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: hwb(205 36% 11%);
}

.event {
  width: 90%; /* Adjust width for mobile devices */
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
  background-color: #497fbb;
  text-align: left;
  border: 1px solid 0;
  border-radius: 4px;
  position: relative;
}

.event:not(:last-child) {
  margin-bottom: 20px; /* Apply margin bottom to all but the last event box */
}

.event-details-button {
  color: white;
  background-color: #08228b;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.details-section {
  margin-top: 10px;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.svg-background {
  position: fixed;
  margin-top: 20px;
  bottom: -150px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  filter: grayscale(100%);
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 115px;
  padding-right: 70px;
}
@media (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
}

.container-wrapper {
  margin-top: -40px; /* Adjust the value as needed to move the container up */
}

.event-genres-title {
  margin-top: 60px; /* Adjust the margin top value according to your preference */
}
